## 1 .
자료구조 Dictionary를 이용하여, if 문 없이 연도를 입력했을 때 윤년/평년을 판별하여 출력하는 프로그램을 생성하시오.

In [4]:
## SOL 1
# Dictionary를 사용하여 윤년/평년 매핑하기
year_type = {
    True: "윤년",
    False: "평년"
}

# 연도 입력
year = int(input("연도를 입력하세요: "))

# 윤년 여부 계산
# 4, 100으로 나누어 떨어지는 년도를 평년이라고 계산
leap_year_check = (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)

# 결과 출력
print(f"{year}년은 {year_type[leap_year_check]}입니다.")

연도를 입력하세요:  300

300년은 평년입니다.

In [8]:
### SOL 2
# 함수를 만들어 윤년/평년 계산기기
# 윤년인지 확인하는 함수
def is_leapyear(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

# 4, 100으로 나누어떨어지면 True, 아니면 False를 출력

# Dictionary를 사용하여 판별 함수 매핑하기
year_type = {
    True: "윤년",
    False: "평년"
}

# 연도 입력
year = int(input("연도를 입력하세요: "))

# 결과 출력
print(f"{year}년은 {year_type[is_leapyear(year)]}입니다.")

연도를 입력하세요:  500

500년은 평년입니다.

## 2. 
A 학생의 과목별 점수가 아래와 같을 때, 이 점수를 딕셔너리 형태로 선언하고, 평균을 계산하시오


- A : 국어 75, 영어 53, 수학 90, 사회 46, 한국사 60, 세계사 70, 과학, 34
- 과목명은 Key값, 점수는 Value 값

In [11]:
# A 학생의 과목별 점수를 딕셔너리 형태로 선언
# 이때 과목명은 Key값, 점수는 Value값에 매핑
scores = {"국어": 75, "영어": 53, "수학": 90, "사회": 46, "한국사": 60, "세계사": 70, "과학": 34}

# 평균 계산 (합계를 과목 수로 나누기)
average_score = sum(scores.values()) / len(scores)

# 결과 출력
# 이때 소수점 이하 두번째 자리까지 표시를 위해 .2f로 포매팅
print(f"A 학생의 평균 점수는 {average_score:.2f}점 입니다.")

A 학생의 평균 점수는 61.14점 입니다.

## 3. 
어떤 수를 입력했을 때, 입력한 수가 홀수이면 True, 짝수이면 False를 출력하는 프로그램을 제작하시오
- if문을 사용 하지 않고 제작

In [13]:
## SOL1
# 숫자 입력 (이때 정수 형태로 받음)
number = int(input("숫자를 입력하세요: "))

# 홀수이면 True, 짝수이면 False
result = number % 2 != 0

# 결과 출력
print(result)

숫자를 입력하세요:  34

False

In [14]:
## SOL2 - Dictionary를 사용
# 홀수/짝수에 대한 결과를 딕셔너리로 정의
is_odd = { 0: False, 1: True}

# 숫자 입력 (이때 정수 형태로 받음)
number = int(input("숫자를 입력하세요: "))

# 홀수이면 True, 짝수이면 False
result = is_odd[number % 2]

# 결과 출력
print(result)

숫자를 입력하세요:  45

True

## 4. 
For 반복문을 이용하여, 1부터 입력받은 수 까지 제곱 합을 구하는 프로그램을 만드시오.
- Ex ) 1² + 2² + 3² + 4² + ... + n²

In [16]:
# 숫자 입력받기
n = int(input("숫자를 입력하세요: "))

# 제곱 합을 저장할 변수 sum_of_squares 초기화
sum_of_squares = 0

# for 반복문을 사용하여 1부터 n까지의 수에 대해 제곱 합 계산
for i in range(1, n + 1):
    # 각 for문을 돌릴 때 계산한 제곱 합을 sum_of_squares에 저장
    sum_of_squares += i ** 2

# 결과 출력
print(f"1부터 {n}까지의 제곱 합은 {sum_of_squares}입니다.")

숫자를 입력하세요:  10

1부터 10까지의 제곱 합은 385입니다.

### Python 라이브러리 사용관련 문제
- 사무용품을 렌탈해주는 회사에서 발생한 데이터(01_Data.csv)파일을 분석하고자 합니다.
- Python의 Pandas 라이브러리로 아래의 문제를 해결해 보세요.

In [18]:
# Pandas 라이브러리
import pandas as pd

## 5. 
데이터 파일을 df1 변수로 선언하고, 데이터의 열개수와 행개수를 계산하시오.

In [30]:
# 데이터 파일을 df1 변수로 선언
df1=pd.read_csv("C:/Users/sshyu/OneDrive/바탕 화면/DSA_13기/01_Data.csv")
# 데이터의 열개수 계산
col_df1=df1.shape[1]
# 데이터의 행개수 계산
row_df1=df1.shape[0]
print(f"df1의 열개수: {col_df1} \ndf1의 행개수: {row_df1} ")

df1의 열개수: 20
df1의 행개수: 51301

## 6. 
데이터에서 고객들의 유입경로(Channel)을 분석하고자 한다. 유입경로(Channel)중 가장 많은
고객이 유입된 경로를 확인하시오.

In [42]:
# 유입경로별 고객 수 집계
channel_counts = df1["Channel"].value_counts()

# 가장 많이 고객이 유입된 경로 확인

print(f"가장 많은 고객이 유입된 경로: {channel_counts.idxmax()}")
print(f"해당 경로에 유입된 고객 수: {channel_counts.max()}")

가장 많은 고객이 유입된 경로: 영업방판
해당 경로에 유입된 고객 수: 23767

## 7. 
데이터에서 고객들이 가장 많이 계약한 제품군(Product_Type)을 분석하고자 한다. 제품군
(Product_Type)에는 어떤 데이터가 있는지 확인하시오

In [48]:
# Product_Type 열의 고유한 값 확인
print(f"제품군 데이터: {df1["Product_Type"].unique()}")

제품군 데이터: ['DES-1' 'DES-3A' 'DES-2' 'DES-R4' 'MMC' 'ERA']

In [50]:
# Product_Type별 계약 수 확인
print("제품군별 계약 수:")
print(df1["Product_Type"].value_counts())

제품군별 계약 수:
Product_Type
DES-1     39133
DES-2      8996
DES-3A     2081
ERA         644
DES-R4      327
MMC         120
Name: count, dtype: int64

## 8. 
데이터에서 고객들이 결제하는 은행(Bank)를 확인하고자 한다. 결제은행(Bank)항목에서 '신한카드'로 결제하는 고객들의 수를 확인하시오.

In [54]:
# Bank에서 신한카드로 결제하는 고객들의 수 확인
df1[df1['Bank']=='신한카드'].shape[0]

1532

## 9. 
유입경로(Channel)에서 '대형마트A'로 유입된 고객들 중, 연체건수(Overdue_count)가 높은 상위 30명의 계약 명단을 추출하여 result4.xlsx 저장하시오.

In [66]:
## SOL1
# '대형마트A'로 유입된 고객 필터링 및 연체건수 기준으로 정렬 후 상위 30명 추출
result4=df1[df1['Channel']=='대형마트A'].sort_values('Overdue_count',ascending=False)[:30]

In [72]:
# 결과를 result4.xlsx 파일로 저장
result4.to_excel('C:/Users/sshyu/OneDrive/바탕 화면/DSA_13기/result4.xlsx', index=False)

In [75]:
## SOL2
# '대형마트A'로 유입된 고객 필터링 및 연체건수 기준으로 상위 30명 추출
result4=df1[df1["Channel"] == "대형마트A"].nlargest(30, 'Overdue_count')

# 결과를 result4.xlsx 파일로 저장
result4.to_excel('C:/Users/sshyu/OneDrive/바탕 화면/DSA_13기/result4.xlsx', index=False)

In [81]:
# 데이터 잘 저장되어 있는지 확인
result4_true=pd.read_excel('C:/Users/sshyu/OneDrive/바탕 화면/DSA_13기/result4.xlsx')
result4_true.shape

(30, 20)

## 10. 
월랜탈비용(Amount_Month)이 15만원 이상인 고객들 중 판매유형(Sales_Type)이 '렌탈'에
해당하는 고객만 추출하여, 해당 데이터의 행(index) 개수를 확인하시오.

In [91]:
# 조건에 맞는 데이터 필터링 후 행 개수 확인
df1[(df1['Amount_Month']>=150000) & (df1['Sales_Type']=='렌탈')].shape[0]

141

## 11. 
제품군(Product_Type)중 빈도수가 가장 높은 상위 3개의 항목을 추출하여, df2로 선언한 뒤,
계약일자(Datetime)에 따른 월렌탈비용(Amount_Month)의 합을 계산해 result5.xlsx파일로 저장하시오

In [123]:
# 상위 3개의 제품군 추출
df1['Product_Type'].value_counts().nlargest(3)

Product_Type
DES-1     39133
DES-2      8996
DES-3A     2081
Name: count, dtype: int64

In [129]:
# 상위 3개의 제품군을 포함한 데이터프레임 선언
df2=df1[df1['Product_Type'].isin(df1['Product_Type'].value_counts().nlargest(3).index)]

In [130]:
# 데이터가 잘 추출되었는지 확인
df2['Product_Type'].unique()

array(['DES-1', 'DES-3A', 'DES-2'], dtype=object)

In [132]:
df2.head()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합

In [138]:
# Datetime열을 datetime 형식으로 변환
df2.loc[:, 'Datetime'] = pd.to_datetime(df2['Datetime'])

# 계약일자를 기준으로 월별로 그룹화하여 Amount_Month의 합 계산
result5 = df2.groupby(df2['Datetime'].dt.to_period('M')).agg({'Amount_Month': 'sum'})

# 결과를 result5.xlsx 파일로 저장
result5.to_excel('C:/Users/sshyu/OneDrive/바탕 화면/DSA_13기/result5.xlsx', index=True)

In [139]:
# 데이터 잘 저장되어 있는지 확인
result5_true=pd.read_excel('C:/Users/sshyu/OneDrive/바탕 화면/DSA_13기/result5.xlsx')
result5_true.head()

    Datetime  Amount_Month
0 2019-01-01     402228780
1 2019-02-01     606498831
2 2019-03-01     437542614
3 2019-04-01     329044242
4 2019-05-01     273784095